.font-monospace {
  font-family: monospace !important;
  font-weight: lighter !important;
}

.scrollable {
  height: 300px;
}

:host {
  --slds-c-badge-radius-border: 0px !important;
}

.scrollinput {
  font-size: small;
  border: none !important;
  outline: none;
  width: 100% !important;
}

.inputcol {
  border: 1px solid black;
  margin: 0px !important;
  padding: 0px;
  display: flex;
}
