.log-container {
  /* background-color: #2d2d2d; */
  font-family: monospace;
  /* color: rgb(145, 152, 161); */
  height: 65vh;
}

.nav-bar{
  background-color: rgb(22 50 92);
}

.logHead {
  color: white;
  font-family: monospace;
  font-size: 15px;
}

.nav-btn{
  --slds-c-icon-color-foreground:white;
  --slds-c-button-color-border:white;
  --slds-c-button-sizing-border:0px;
}


