.split-screen {
  display: flex;
  height: 65vh;
}

.left-section,
.right-section {
  overflow: auto;
}

.divider {
  width: 10px;
  background-color: #f0f0f0;
  cursor: col-resize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resize-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: col-resize;
}
