/* HTML: <div class="loader"></div> */
.loader {
  margin: auto;
  margin-top: 10px;
  width: 120px;
  height: 10px;
  /* border-radius: 20px; */
  color: rgb(22 50 92);
  border: 2px solid;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}

@keyframes l6 {
  100% {
    inset: 0;
  }
}

.navbar {
  position: sticky;
  z-index: 1;
  top: 0;
  overflow: hidden;
  background-color: rgb(15, 33, 60);
}

.navbar b {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

.navbar b:hover {
  /* background-color: white; */
  color: black;
}

.brand {
  background-color: rgb(15, 33, 60);
  color: white;
  font-size: bold;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 18px;
  font-weight: bold;
}

.bugicon {
  --slds-c-icon-color-background: rgb(15, 33, 60);
  -slds-c-icon-color-foreground: white;
  --slds-c-icon-color-foreground-default: white;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.fl-btn,
.slds-button_neutral {
  --slds-c-button-brand-text-color: white;
  --slds-c-button-brand-color-background: rgb(15, 33, 60);
  --slds-c-button-brand-color-background-hover: white;
  --slds-c-button-brand-text-color-hover: rgb(15, 33, 60);
  --slds-c-button-brand-text-color-active: white;
}
