:host {
  --slds-c-badge-radius-border: 0px !important;
}

.badge {
  border: 1px solid black;
}

.THIS lightning-helptext .slds-button.slds-button_icon {
  line-height: 0 !important;
}

.THIS .slds-form-element__icon {
  padding-top: 0px !important;
  vertical-align: middle;
}

.THIS .slds-button .slds-button_icon {
  color: white !important;
}
