.varas {
  color: rgb(204, 153, 205);
}

.varin {
  color: rgb(240, 141, 73);
}

.debug {
  color: rgb(248, 197, 85);
}

.faerr {
  color: rgb(194, 57, 52);
}
.valfl {
  color: rgb(194, 57, 52);
}

.valps {
  color: rgb(34, 150, 34);
}
.slds-line-clamp {
  line-clamp: 10;
  -webkit-line-clamp: 10;
}
